html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

body {
    background-color: #111;
}

nav {
    display: flex;
    justify-content: start;
    margin: 0;
    color: aliceblue;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav div:first-child {
    padding: 0.3rem 2rem;
    margin: 1rem 0;
    width: 20%;
}

.ncontainer {
    width: 60%;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;   
    margin: 0.6rem;
    min-width: 20%;
}

button {
    border: 2px solid #FF5F00;
    border-radius: 1.4rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button.active {
    background-color: #FF5F00;
}

nav li a {
    text-decoration: none;
    color: aliceblue;
}

button:hover {
    border: 2px solid black;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    width: 100%;
}

#mainframe {
    width: 100%;
    height: 100%;
}