html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Mark Offc For MC';
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #FFF;
}

p {
    font-size: 0.7rem;
}

body {
    background-color: #111;
}

h1 {
    font: normal normal bold 24px/30px 'Mark Offc For MC';
}

nav {
    display: flex;
    justify-content: start;
    margin: 0;
    color: aliceblue;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav div:first-child {
    padding: 0.3rem 2rem;
    margin: 1rem 0;
    width: 20%;
}

.ncontainer {
    width: 60%;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;   
    margin: 0.6rem;
    min-width: 20%;
}

button {
    border: 2px solid #CF4500;
    border-radius: 1.4rem;
    background-color: #000000;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    width: 100%;
    transition-duration: 0.4s;
    padding: 0;
    margin: 0;
}

button.active {
    background-color: #CF4500;
}

button a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: aliceblue;
    width: 100%;
}

button:focused {
    border: 2px solid black;
}

button:hover {
    background-color: #CF4500;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    width: 100%;
}

#mainframe {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Mark Offc For MC';
    src: url('fonts/MarkOffcForMC.woff2') format('woff2'),
        url('fonts/MarkOffcForMC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Offc For MC';
    src: url('fonts/MarkOffcForMC-Bold.woff2') format('woff2'),
        url('fonts/MarkOffcForMC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}